.DS_Store
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

sep-animal-recognition/dataset/
sep-animal-recognition/official_test/
sep-animal-recognition/runs/
sep-animal-recognition/checkpoints/

*.pt
*.pth
*.zip
